<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pfl.module_user">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>
        <activity
            android:name=".activity.ModuleUserRegistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_regist"
            android:theme="@style/SwipeBackAppTheme" />
        <activity
            android:name=".activity.ModuleUserSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_setting"
            android:theme="@style/SwipeBackAppTheme" />
        <activity
            android:name=".activity.ModuleUserMyWalletActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_my_wallet"
            android:theme="@style/SwipeBackAppTheme" />
        <activity
            android:name=".activity.ModuleUserInitialValueActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_initial_value"
            android:theme="@style/SwipeBackAppTheme" />
        <activity
            android:name=".activity.ModuleUserInputNickNameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_input_nick_name"
            android:theme="@style/SwipeBackAppTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".activity.ModuleUserUploadIdentityCardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_upload_identity_card"
            android:theme="@style/SwipeBackAppTheme" />
        <activity
            android:name=".activity.ModuleUserUploadDrivingLicenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_upload_driving_licence"
            android:theme="@style/SwipeBackAppTheme" />
        <activity
            android:name=".activity.ModuleUserAddCarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_add_car"
            android:theme="@style/SwipeBackAppTheme" />
        <activity
            android:name=".activity.ModuleUserUploadDrivingBookActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_upload_driving_book"
            android:theme="@style/SwipeBackAppTheme" />
        <activity
            android:name=".activity.ModuleUserUploadIdentityCardResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_upload_identity_card_result"
            android:theme="@style/SwipeBackAppTheme" />
        <activity
            android:name=".ModuleUserLoginRegistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/SwipeBackAppTheme" />
        <activity
            android:name=".activity.ModuleUserLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/SwipeBackAppTheme" />
        <activity
            android:name=".activity.ModuleUserFeedBackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_str_help_feedback"
            android:theme="@style/SwipeBackAppTheme" />
        <activity
            android:name=".activity.ModuleUserAbouUsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_str_about_us"
            android:theme="@style/SwipeBackAppTheme" />
        <activity android:name=".activity.ModuleUserFindDevicesActivity"></activity>
    </application>

</manifest>