<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pfl.module_user">

    <application>
        <activity
            android:name=".activity.ModuleUserLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_login" />
        <activity
            android:name=".activity.ModuleUserRegistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_regist" />
        <activity
            android:name=".activity.ModuleUserSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_setting" />
        <activity
            android:name=".activity.ModuleUserAccountInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_account_info" />
        <activity
            android:name=".activity.ModuleUserUpdatePasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_update_password" />
        <activity
            android:name=".activity.ModuleUserFocusAndFansActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_focus_and_fans" />
        <activity
            android:name=".activity.ModuleUserBuyGoldCoinsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_buy_gold_coins" />
        <activity
            android:name=".activity.ModuleUserGoldDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_gold_detail" />
        <activity
            android:name=".activity.ModuleUserHasBuyRecommendActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_has_buy_recommend" />
        <activity
            android:name=".activity.ModuleUserMyFavoriteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_my_favorite" />
        <activity
            android:name=".activity.ModuleUserMyMesageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_my_message" />
        <activity
            android:name=".activity.ModuleUserApplySFSActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_apply_sfs" />
        <activity
            android:name=".activity.ModuleUserFeedBackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_feed_back" />
        <activity
            android:name=".activity.ModuleUserHomePageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_home_page" />
        <activity
            android:name=".activity.ModuleUserSFSListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_sfs_list" />
        <activity
            android:name=".activity.ModuleUserMyWalletActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_my_wallet" />
        <activity
            android:name=".activity.ModuleUserH5Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_h5" />
        <activity
            android:name=".activity.ModuleUserChannelManagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_channel_manager" />
        <activity android:name=".activity.ModuleUserInitialValueActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_initial_value"
            />
        <activity android:name=".activity.ModuleUserInputNickNameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_input_nick_name"
            />
    </application>

</manifest>