<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pfl.module_user">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application>
        <activity
            android:name=".activity.ModuleUserRegistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_regist" />
        <activity
            android:name=".activity.ModuleUserSettingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_setting" />
        <activity
            android:name=".activity.ModuleUserMyWalletActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_my_wallet" />
        <activity
            android:name=".activity.ModuleUserInitialValueActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_initial_value" />
        <activity
            android:name=".activity.ModuleUserInputNickNameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_input_nick_name" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".activity.ModuleUserUploadIdentityCardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_upload_identity_card" />
        <activity
            android:name=".activity.ModuleUserUploadDrivingLicenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_upload_driving_licence" />
        <activity
            android:name=".activity.ModuleUserAddCarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_add_car" />
        <activity
            android:name=".activity.ModuleUserUploadDrivingBookActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_upload_driving_book" />
        <activity
            android:name=".activity.ModuleUserUploadIdentityCardResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/module_user_upload_identity_card_result" />
        <activity
            android:name=".ModuleUserLoginRegistActivity"
            android:label="@string/title_activity_module_user_login_regist"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.ModuleUserLoginActivity" />
        <activity android:name=".activity.ModuleUserFeedBackActivity" />
        <activity android:name=".activity.ModuleUserAbouUsActivity"></activity>
    </application>

</manifest>